<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1032741400749-5vj0lcehk60olhjjm317o98utr05ulkf.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/stylelogin.css">
</head>
<body>
    <main>
        <h1>Iniciar Sesión</h1>

        <p>Inicia sesión para continuar</p>

        <section class="login">
            <form action="/login" method="post" name="form" autocomplete="off">
                <div>
                    <label for="email">Correo</label>
                    <input name="email" type="email" value="<%=info.email%>" placeholder="correo@dominio.com" required>
                </div>
                <div>
                    <label id="pass" for="pass">Clave </label>
                    <input name="pass" type="password" value="<%=info.pass%>" placeholder="******" required>
                </div>
                <div class="btn">
                    <input id="btnLogin" type="submit" value="Iniciar">
                </div>
                <p> O </p>
                <div class="g-signin2 GoogleLogin" data-onsuccess="onSignIn" data-theme="dark"></div>
                <div class="error">
                    <p name="msg" class="msg"><%=M%></p>
                    <input id="OAuth" name="OAuth" value="<%=G%>" hidden>
                </div>
                <div>
                    <a id="signout" href="/" onclick="signOut();">Desconectar</a>
                </div>
            </form>
        </section>
        <footer>
        <div class="details">
            <p>AC GAMES ©2022</p>
            <p>T&eacute;rminos y pol&iacute;ticas de privacidad</p>
            <p>Curriculum Vitae</p>
          </div>
        </footer>
    </main>
    <script>
        let input_OAuth = document.querySelector("#OAuth"),
        signout = document.querySelector("#signout");
        function onSignIn(googleUser) {

        document.form.submit();
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        /* console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail()); */

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        /* console.log("ID Token: " + id_token); */

        if(id_token != ""){
            input_OAuth.value = id_token;
        }else{
            input_OAuth.value = "";
            signout.style.visibility = "visible";
        }

  }
    </script>
    <script>
        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }
      </script>
</body>
</html>