@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: #fff;
  	height: 100%;
}

.container{
  /*  FLEXBOX */
  	display: flex;
  	flex-flow: column wrap;
	background-color: #080c13;
	border: 1px solid black;
	width: 60%;
	margin: 0 auto;
	border-radius: 20px;
}

main{
	display: flex;
    color: rgb(0, 0, 0);

    flex-wrap: wrap;

}

.title{
	display: flex;
	background-color: #fff;
}

.resume{
	display: flex;
	text-align: center;
	font-family: "Rubik";
}

p, ul{
	font-family: 'Quicksand', sans-serif;
} 
h2{
	font-family: 'Big Shoulders Display', cursive;
	border-radius: 12px 0px 12px 0px ;
	

}

.point{
	color: #1e90ff;
}

li{
	list-style: none;
}

.skill, .exp, .educt, .contact{
	background-color: #fff;
}

.skill{
	display: flex;
    margin-bottom: 30px;
    justify-content: center;
	text-align: center;
    flex-wrap: wrap;
	border-radius: 10px;
	border: 3px solid rgba(255, 255, 255, 0.178);
	box-shadow: 2px 3px 5px rgba(233, 233, 233, 0.178);
}

.exp{
	display: flex;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.178);
    box-shadow: 2px 3px 5px rgb(233 233 233 / 18%);
    flex-direction: column;
    align-items: center;
}

.educt{
	display: flex;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.178);
    box-shadow: 2px 3px 5px rgb(233 233 233 / 18%);
    flex-direction: column;
    align-items: center;
}

.contact{
	display: flex;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.178);
    box-shadow: 2px 3px 5px rgb(233 233 233 / 18%);
    flex-direction: column;
    align-items: center;
}

.title img{
	border-radius: 50%;
	margin-bottom: 12px;
	float: left;
}
a{
	text-decoration-line: none;
	color:#1e90ff;
}
a:hover{
	color: white;
}

/*	ANIMACIÓN DE SOMBRA EN H2*/
@keyframes move_shadow{
	0%{
		box-shadow: -15px 0px 0px #1e90ff;
	}
	50%{
		box-shadow: 15px 0px 0px #1e90ff;
	}
	100%{
		box-shadow: -15px 0px 0px #1e90ff;
	}
}

/*  MEDIA QUERIE PARA AJUSTAR A TELÉFONO  */

@media screen and (max-width:480px) {
  .container{
	font-weight:500;
    margin: 0;
	padding: 0;
    width: 100%;
	align-items: center;
  }

  img{
	  margin: 0;
  }

	.title {
    display: flex;
    flex-direction: column;
    align-items: center;
	font-size: 16px;
	}

	.resume {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0px;
	}

	.educt{
		font-size: 15px;
	}

	main{
		border-radius: 0px 0px 20px 20px;
	}
	.contact{
		width: 100%;
	}
}

@media screen and (min-width:728px) and (max-width:1024px){
	body{
		margin-top: 50px;
	}
	.title{
		border-radius: 20px 20px 0px 0px;
		flex-direction: column;
    	align-items: center;
	}
	.resume{
		text-align: center;
		flex-direction: column;
	}

	/* main {
		margin: 0;
		display: flex;
		color: #fff;
		background-color: #0b2252;
		flex-wrap: wrap;
	} */
	main {
		border-radius: 0px 0px 20px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.skill {
		margin: 0px 20px 20px 0px;
		display: flex;
		/* margin-bottom: 30px; */
		/* text-align: center; */
		border-radius: 10px;
		flex-direction: column;
		align-items: center;
		width: 267px;
	}

	.exp {
		display: flex;
		margin-bottom: 20px;
		text-align: center;
		border-radius: 10px;
		flex-direction: column;
		align-items: center;
		width: 325px;
		height: 232px;
	}

	.contact{
		width: 100%;
	}
  }

  @media screen and (min-width:1024px){
	body{
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 20px;
		font-weight: 500;
	}
	.title{
		border-radius: 20px 20px 0px 0px;
		flex-direction: column;
    	align-items: center;
	}
	.resume{
		text-align: center;
		flex-direction: column;
	}
	/* main {
		margin: 0;
		display: flex;
		color: #fff;
		background-color: #0b2252;
		flex-wrap: wrap;
	} */
	main {
		border-radius: 0px 0px 20px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.skill {
		margin: 0px 20px 20px 0px;
		display: flex;
		/* margin-bottom: 30px; */
		/* text-align: center; */
		border-radius: 10px;
		flex-direction: column;
		align-items: center;
		width: 267px;
	}

	.exp {
		display: flex;
		margin-bottom: 20px;
		text-align: center;
		border-radius: 10px;
		flex-direction: column;
		align-items: center;
		width: 325px;
		height: 232px;
	}

	.contact{
		width: 100%;
	}
  }
